.myCustomNavbar{
  text-decoration: none;
  background-color: rgb(213, 213, 223);
}
.myCustomNavbarDark{
  background-color: rgb(90, 90, 105);
  color: aliceblue;
}
.myCustomNavbarFooter{
  background-color: #c3c3c3 !important;
}
.dark-mode-class {
  background-color: #333; /* Dark background */
  color: #fff; /* Light text */
}


img{
  width: 60px;
  height: 60px;
}

.myplaceholder{
  width: 250px;
  height: 250px;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}