.myCustomNavbar{
  background-color: #c3c3c3 !important;
  color: black;
}

img{
  width: 60px;
  height: 60px;
}

.myplaceholder{
  width: 250px;
  height: 250px;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}